ul {
  list-style-type: none; /*removes bullet points*/
  margin: 0;
  padding: 0;
  overflow: hidden; /*includes any element that overflows from the container*/
  background-color: #353042;
}

li {
  float: left;
  padding: 6px 4px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #F2709B;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  /* border: 1px solid #F2709B; */
  border-radius: 30px;
}

li a:hover:not(.active) {
  background-color: #2C2638;
}

.active {
  background-color: #F2709B;
  color: #FFF0F5;
}
