form {
    background-color: pink;
    width: max-content;
    padding: 20px;
    margin: 0px auto;
    position: relative;
    border-radius: 20px;
}
/* form, h1{
    text-align: center;
} */
label,a, input, button {
    display: block;
}
input{
    margin: 2px;
}
label{
    margin: 15px;
}

button{
    margin: 20px auto 5px;
    position: relative;
}

input[type="email"] , input[type="password"] {
    padding: 3px 5px;
}

input[type="checkbox"] {
    display: inline;
}