header{
    margin-top: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

    nav > ul {
        display: flex;
        list-style-type: none;
        padding: 14px 0 14px 0;
        /*When three values are specified, the first margin applies to the top, the second to the right and left, the third to the bottom.*/
        margin: -8px -8px -8px;
        background-color: white;
        border: 1px dashed red;
        /* pt 3 */
        /* justify-content: flex-end; */
        /* pt 4 */
        /* justify-content: center; */
        /* pt 5 */
        /* justify-content: space-between; */
    }
    li a {
        border: 1px solid #000;
        padding: 10px 30px;
        text-decoration: none;
        color: black;
    }

    .link1{
        /* pt 1 */
        /* margin-right: auto; */
    }
    .link2{
        /* pt 8 */
        /* margin-left: auto; */
    }
    .link3{
        /* pt 6 */
        /* margin-right: auto; */
        /* pt 7 */
        /* margin: 0px auto; */
        /* pt 8 */
        /* margin-right: auto; */
    }
    .link4{

    }
    .link5{
        /* pt 2 */
        /* margin-left: auto; */
    }