/* general style */
* {
  border: 1px solid black;
  box-sizing: border-box;
}
html {
  background-color: lightsalmon;
}

p {
  margin: 0px;
}

/* more specific styling */
body {
  /* padding: 50px 100px; */
  justify-content: space-between;
}

header {
  flex-wrap :wrap;
  justify-content: space-between;
  /* flex-basis: 100%; */
}

main {
  flex-basis: 70%;
}

aside {
  flex-basis: 25%;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.company-title-time {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.experience {
  border-bottom: 1px solid black;
}

/* flexbox styling */
.container {
  display: flex;
  flex-wrap: wrap;
}
#box-1{
  /* flex-basis: 60%; */
}

#box-2 {
  align-items: center;
  /* flex-basis: 40%; */
  gap: 10px;
}

/* #box-2-1 {
  text-align: end;
} */

#box-3 {
  flex-grow: 1;
}

.experience:last-of-type {
  border: 0;
}